@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Titillium+Web:wght@300;400&family=Ubuntu:wght@300&family=Uchen&display=swap');

* { 
    font-family: 'Uchen', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background-color: rgb(8, 93, 150);
}

#big {
    font-size: 120%;
}

h1 {
    background-color: rgb(8, 93, 150);
    font-size: 80px;
    font-weight: 300;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}

#bridge {
    background: url(../images/bridge.jpeg) no-repeat center center;
    width: 100%;
    height: 600px;
}
#bridge-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#li1:hover {
    border-radius: 15px;
    background-color: white;
}

.link {
    border: none;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

#bar {
    text-align: center;
    background-color: yellow;
}

#section {
    background-color: rgb(8, 93, 150, .7);
    padding-bottom: 15px;
}

#cover-text {
    color: white;
    font-size: 130%;
    font-family: 'Uchen', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background-color: rgb(8, 93, 150, .7); 
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    top: 10%;
    left: 10%;
    position: absolute;
    padding-bottom: 30px;
}    

#other-text {
    font-size: 120%;
    font-family: 'Uchen', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 30px;
    background-color: rgba(236, 241, 241, 0.7);
    bottom: 10%;
    right: 10%;
    position: absolute;
}

#intro {
    background: rgba(236, 241, 241, 0.7);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#left {
    list-style: none;
}

footer {
    background-color: yellow;
}



